<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .container{
        margin-top: 2%;
        margin-left: 15%;
        margin-right: 15%;
        min-width: 70%;
        min-height: 200px;
        overflow-y: scroll;
        border: 3px solid black;
        background-color: white;
    }
</style>
<body>
    <div class="container">
        <div th:each="credit : ${credits}">
            <div th:text="${credit}"></div>
        </div>
    </div>

    <div class="container">
        <form name="f" th:action="@{/personal/credit}" method="post">
            <label>
            <input type="text" name="creditID" placeholder="номер кредитного договора">
            <input type="text" name="sum" placeholder="сумма взноса">
            <input type="submit" value="Заплатить">
            </label>
        </form>
    </div>
</body>
</html>